[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "==2.12"
tensorflow = "==2.12"
keras-vggface = {git = "git+https://github.com/rcmalli/keras-vggface.git"}
mtcnn = "*"
matplotlib = "*"
keras-applications = "*"

[dev-packages]

[requires]
python_version = "3.11"
